<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css" media="screen,projection" />

    <link rel="stylesheet" type="text/css" href="/css/additionalFoodResources.css">

    <!--<script type="text/javascript" src="../../src/materializeInitialization.js"></script>-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Additional Food Resources</title>

    <!--Favicon-->
    <link rel="icon" href="/imgs/chef.png">
</head>

<body>
    {{>header}}

    <div class="container">
        <h4 align="center">Additional Food Resources</h4>

        <div class="row">
            <div class="col s6 m3">
                <a href="https://www.bbcgoodfood.com/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">BBC Good Food</span>
                            <p>We're all about good recipes, and about quality home cooking that everyone can enjoy.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://thehappypear.ie/recipes/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">The Happy Pear</span>
                            <p>Veggie recipes and how to
                                make vegan food simple, creative and totally
                                irresistible.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://donalskehan.com/recipes/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Donal Skehan</span>
                            <p>Database of over 500 recipes with inspiration for breakfast, lunch and dinner.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://cookieandkate.com/category/food-recipes/entrees/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Cookie and Kate</span>
                            <p>Cookie and Kate is a healthy food blog that celebrates whole foods with fresh vegetarian
                                recipes.</p>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s6 m3">
                <a href="https://www.veganricha.com/category/popular/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Vegan Richa</span>
                            <p>Vegan Food Blog with Healthy and Flavorful Vegan Recipes (with easy to follow
                                instructions).</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://www.allrecipes.com/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Allrecipes</span>
                            <p>Find cooking inspiration on Allrecipes. Discover recipes based on
                                the
                                food you love.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://www.seriouseats.com/recipes" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Serious Eats</span>
                            <p>Serious Eats is the destination for delicious food, with definitive recipes and
                                guides
                                to eating.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://smittenkitchen.com/recipe-collection/best-of-smitten-kitchen/?format=photo"
                    target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Smitten Kitchen</span>
                            <p>Smitten Kitchen is a popular blog for home cooks created and maintained by Deb Perelman.
                            </p>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s6 m3">
                <a href="https://www.simplyrecipes.com/index/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Simply Recipes</span>
                            <p>A family cooking and food blog with hundreds of healthy, whole-food recipes for the home
                                cook.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://thestayathomechef.com/blog/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">The Stay Home Chef</span>
                            <p>Getting restaurant quality recipes that are easy to make at home. Regularly updated.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://www.slenderkitchen.com/category/dinner" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Slender Kitchen</span>
                            <p>Healthy Delicious Recipes and Meal Plans. 1000's of recipes with calories and nutritional
                                information</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://alexandracooks.com/category/recipe/dinner/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Alexandra's Kitchen</span>
                            <p>A food blog with mostly simple, sometimes fussy, always seasonal recipes.</p>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s6 m3">
                <a href="https://www.acouplecooks.com/everyday-healthy-dinner-recipes/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">A Couple Cooks</span>
                            <p>Create artfully simple, everyday healthy vegetarian or vegan meals for your dinner table.
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://www.bettycrocker.com/recipes" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Betty Crocker</span>
                            <p>A great recipe is at the heart of every memorable meal. Browse our recipes for
                                inspiration.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="http://www.eatingwell.com/recipes/17947/mealtimes/dinner/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Eating Well</span>
                            <p>Find healthy, delicious dinner recipes including quick and easy dinners.</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://damndelicious.net/recipe-index/" target="_blank">
                    <div class="card grey lighten-4">
                        <div class="card-content black-text">
                            <span class="card-title">Damn Delicious</span>
                            <p>Simple ingredients. Elegant dishes. Quick and easy meals for the everyday home cook.</p>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>


    {{>footer}}

</body>

</html>