<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css" media="screen,projection" />

    <!--Custom CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {{>header}}

    <!--Container for main content -->
    <div class="container">
        <div class="center-align">
            <form class="col s12" action="/searchRecipes" method="GET">
                <div class="row">
                    <div class="input-field col s10" id="searchField">
                        <input id="recipeSearch" type="text" class="validate" name="search">
                        <label for="recipeSearch">Search for Recipes...</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>

                </div>
            </form>
            {{#if noSearchResults}}
            <div class="container">
                <p>No recipes found with that title. All saved recipes are listed below by default.</p>
            </div>
            {{/if}}

        </div>
        <!--Recipe Components -->
        <div class="row">
            {{#each recipes}}
            <div class="col s4 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{imagePath}}">

                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="viewRecipe/{{id}}"><i
                                class="material-icons">add</i></a>
                    </div>

                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}








        </div>

        <!--End of Recipe Components -->



    </div>

    {{>footer}}



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/eventListenersIndex.js"></script>


</body>

</html>