<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css" media="screen,projection" />

    <!--Custom CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {{>header}}

    <!--Container for main content -->
    <div class="container">
        <div class="center-align">
            <a href="/addRecipe">
                <button class="btn waves-effect waves-light">Add Recipe
                    <i class="material-icons right">create</i>
                </button>
            </a>
        </div>
        <!--Recipe Components -->
        <div class="row">
            {{#each recipes}}
            <div class="col s4 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{imagePath}}">

                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="viewRecipe/{{id}}"><i
                                class="material-icons">add</i></a>
                    </div>

                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}








        </div>

        <!--End of Recipe Components -->

    </div>

    {{>footer}}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            let options = [];
            var instances = M.Sidenav.init(elems, options);
        });
    </script>
</body>

</html>