<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Additional Resources</h5>
                <p class="grey-text text-lighten-4">These are some other sites that you can use to discover more
                    recipes.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Sites</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.bbcgoodfood.com/recipes"
                            target="_blank">BBC GoodFoods</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://cookieandkate.com/recipes/"
                            target="_blank">Cookie and Kate</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://thehappypear.ie/our-recipes/"
                            target="_blank">The Happy Pear</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © John Dennehy
            <a class="grey-text text-lighten-4 right" href="/">Back to top</a>
        </div>
    </div>
</footer>