.card.large {
  height: 1100px !important;
}
div.col.s12.m12 {
  margin-top: 20px;
}
img {
  margin-bottom: 20px;
}

.card-action.center-align {
  padding: 0px;
  height: 35px;
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: center;
  bottom: 0;

  /*top: 0;*/
}
button {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .input-field.col.s6 {
    width: 100% !important;
    display: block !important;
  }
  .card.large {
    height: 1350px !important;
  }
}
